@model CRUDGridTest.Models.CrudItem

<script type="text/html" id="CreateCrud">
    <div id="shade"></div>
    <div id="modal">
        
        @using (Ajax.BeginForm("Create", new AjaxOptions() { OnComplete = "onComplete" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>CrudItem</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                    
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Weight)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Weight)
                    @Html.ValidationMessageFor(model => model.Weight)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Checked)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Checked)
                    @Html.ValidationMessageFor(model => model.Checked)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Options)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Options)
                    @Html.ValidationMessageFor(model => model.Options)
                </div>

                <p>
                    <input class="submitCrud" type="submit" value="Create" />
                    <input class="cancel" type="button" value="Cancel" />
                    <button id="close">Close</button>
                </p>
            </fieldset>
        }

    </div>

</script>


