@model CRUDGridTest.Models.CrudItem

<script type="text/html" id="CreateCrud">
    <div id="shade" data-bind="style: { display: modalDisplay }"></div>
    <div id="modal" data-bind="style: { display: modalDisplay }">
            <span><input class="close" type="button" value="X" data-bind="click: function () { modalDisplay('none') }"></span>
            <h2>Create</h2>
        
        @using (Ajax.BeginForm("Create", new AjaxOptions() { OnComplete = "refreshCrudFunc" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>CrudItem</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                    
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Weight)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Weight)
                    @Html.ValidationMessageFor(model => model.Weight)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Checked)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Checked)
                    @Html.ValidationMessageFor(model => model.Checked)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Options)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Options)
                    @Html.ValidationMessageFor(model => model.Options)
                </div>

                <p>
                    <input class="submitCrud" type="submit" value="Create" data-bind="click: function () { modalDisplay('none'); return true; }"/>
                </p>
            </fieldset>
        }

    </div>

</script>


