@{
    ViewBag.Title = "Index";
}

@section styles{
	@Styles.Render("~/Content/Crud.css")
}

<h2>Index</h2>

<table id="crudTable" cellspacing="0" cellpadding="0">
    <thead>
		<tr data-bind="template: { name: 'CrudHeaderCell', foreach: columns }"></tr>
	</thead>
	<tbody data-bind="template: { name: 'CrudRow', foreach: data, as: 'row' }"></tbody>
</table>


<div data-bind="template: { name: 'CreateCrud'}"></div>

<p>
    <button id="start">Create New</button>
</p>

@Html.Partial("_CrudRowTemplate")
@Html.Partial("_CrudHeaderCellTemplate")
@Html.Partial("_CrudCellTemplate")
@Html.Partial("_CreateCrud")

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/crud")
    @Scripts.Render("~/bundles/jqueryval")
}
