@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="crudTable" cellspacing="0" cellpadding="0">
    <thead>
		<tr data-bind="template: { name: 'CrudHeaderCell', foreach: columns }, event: { mousedown: startResize }"></tr>
	</thead>
	<tbody data-bind="template: { name: 'CrudRow', foreach: data, as: 'row' }"></tbody>
</table>


<div data-bind="template: { name: 'CreateCrud'}"></div>

<p>
    <button id="start" data-bind="click: function () { modalDisplay('block') }">Create New</button>
</p>

@Html.Partial("_HeaderCellTemplate")
@Html.Partial("_RowTemplate")
@Html.Partial("_CellTemplate")
@Html.Partial("_Create")

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/crud.viewmodel.js")
    @Scripts.Render("~/bundles/jqueryval")
}
