@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="crudTable">
    <thead>
        <tr data-bind="template: {
		name: 'CrudHeaderCell',
        foreach: columns
    }"></tr>
    </thead>
    <tbody data-bind="template: {
		name: 'CrudRow',
        foreach: data
    }"></tbody>

</table>

@Html.Partial("_CrudRowTemplate")
@Html.Partial("_CrudHeaderCellTemplate")

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/crud")
}



@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>*@